<header id="masthead" class="site-header" role="banner"> 
    <div class="header-wrap">
        <div class="top-header">
            <div class="top-bar">
                <div class="wrap">
                    <aside id="text-2" class="widget widget_contact"> 
                        <div class="textwidget">
                            <ul>
                                <li><a title="Mail Us" href="mailto:support@d3n15_tec.com"><i class="fa fa-envelope-o"></i> support@d3n15_tec.com</a></li>
                                <li><a title="Live chat" href="mailto:support@d3n15_tec.com"><i class="fa fa-skype"></i> d3n15_Tec</a></li>
                            </ul>
                        </div>

                    </aside>

                    <div class="right-top-bar">
                        
                        <div class="social-links clearfix" style="margin-top: auto;">
                            <ul>
                            <li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112">
                                <a ><span class="screen-reader-text">
                                    <i class="fa fa-facebook-official"></i>
                                </span></a></li>
                            <li id="menu-item-432" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-432">
                                <a ><span class="screen-reader-text">
                                    <i class="fa fa-instagram"></i>
                                </span></a></li>
                            <li id="menu-item-434" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-434">
                                <a ><span class="screen-reader-text">
                                    <i class="fa fa-linkedin"></i>
                                </span></a></li>
                            </ul> 
                        </div>
                        
                        <nav class="top-bar-menu">
                                <div id="mega-menu-wrap-top-menu" class="mega-menu-wrap">
                                    <ul id="mega-menu-top-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-panel-width=".wrap" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="767" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
                                        <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left mega-menu-item-121" id="mega-menu-item-121">
                                            <a class="dashicons-admin-users mega-menu-link" href="#" tabindex="0"><i class="fa fa-user"></i>Minha conta</a>
                                        </li>
                                        <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left mega-menu-item-122" id="mega-menu-item-122">
                                            <a class="dashicons-unlock mega-menu-link" href="#" tabindex="0"><i class="fa fa-lock"></i> Login</a>
                                        </li>
                                    </ul>
                                </div> 
                        </nav> 
                    </div>
                </div>
            </div>


            <div id="site-branding">
                <div class="wrap">
                    <a href="" class="custom-logo-link" rel="home" aria-current="page">
                        <img width="500" height="500" src="/assets/imagens/site-logo.png" class="custom-logo" alt="Shopping Cart" sizes="(max-width: 500px) 100vw, 500px">
                    </a>
                    <div id="site-detail"> 
                        <a href="" class="custom-logo-link2" rel="home" aria-current="page">
                            <img width="500" height="500" src="/assets/imagens/logo.jpg" class="custom-logo2" alt="Shopping Cart" sizes="(max-width: 500px) 100vw, 500px">
                        </a>
                        <div id="site-description"> d3n15 Tec </div> 
                    </div>
                    <div class="header-right">
                        <div id="search-box" class="clearfix">
                            <div class="widget woocommerce widget_product_search">
                                <form class="woocommerce-product-search" >
                                    <input type="search" id="woocommerce-product-search-field-0" class="search-field" 
                                        placeholder="Procurar produtos…" value="" name="s">
                                    <button type="submit" value="Search" class="buscaHead"><i class="fa fa-search colorBusca" aria-hidden="true"></i></button>
                                    <input type="hidden" name="post_type">
                                </form>
                            </div> 
                        </div> 
                        <div class="header-right">
                            <div class="cart-box">
                                <div class="sx-cart-views">
                                    <a href="" class="wcmenucart-contents">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="cart-value">0</span>
                                    </a>
                                    <div class="my-cart-wrap">
                                        <div class="my-cart">Total</div>
                                        <div class="cart-total">R$ 0.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>   
            </div>


                <div id="sticky-header-sticky-wrapper" class="sticky-wrapper" style="height: 42px;">
                    <div id="sticky-header" class="clearfix" >
                        <div class="wrap">
                            <div class="main-header clearfix">
                                
                                        <nav id="site-navigation" class="main-navigation clearfix" role="navigation" aria-label="Main Menu">

                                            <div id="mega-menu-wrap-primary" class="mega-menu-wrap">

                                                <ul id="mega-menu-primary" class="mega-menu max-mega-menu mega-menu-horizontal nav-menu">                                                   

                                                    <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left 
                                                        mega-menu-item-185" id="mega-menu-item-185" aria-haspopup="true">

                                                           <ul class="mega-sub-menu">

                                                                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page 
                                                                    mega-has-icon mega-icon-left mega-menu-item-205" id="mega-menu-item-205">
                                                                    <i class="fa fa-home item1" aria-hidden="true"></i>
                                                                        <a class="dashicons-store mega-menu-link" href="">Home</a>
                                                                    <i class="fa fa-sort-asc item11" aria-hidden="true"></i>   
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page 
                                                                    mega-has-icon mega-icon-left mega-menu-item-204" id="mega-menu-item-204">
                                                                    <i class="fa fa-list item2" aria-hidden="true"></i>
                                                                        <a class="dashicons-cart mega-menu-link" href="">Sessão</a>
                                                                    <i class="fa fa-sort-asc item11" aria-hidden="true"></i> 
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom 
                                                                    mega-has-icon mega-icon-left mega-menu-item-187" id="mega-menu-item-187">
                                                                    <i class="fa fa-gift item3" aria-hidden="true"></i>
                                                                        <a class="dashicons-admin-customizer mega-menu-link" href="">Shop</a>   
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page 
                                                                    mega-has-icon mega-icon-left mega-menu-item-78" id="mega-menu-item-78">
                                                                    <i class="fa fa-bookmark item4" aria-hidden="true"></i>
                                                                        <a class="dashicons-editor-code mega-menu-link" href="">Blog</a>
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom 
                                                                    mega-has-icon mega-icon-left mega-menu-item-186" id="mega-menu-item-186">
                                                                    <i class="fa fa-paper-plane-o item5" aria-hidden="true"></i>
                                                                        <a class="dashicons-phone mega-menu-link" href="">Contato</a>
                                                                </li>

                                                           </ul>
                                                    </li>

                                                </ul>

                                            </div> 
                                            



                                            <ul class="mega-menu-primary-modal">
                                                
                                                <li class="mega-menu-principal mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-columns-1-of-4 mega-menu-item-211" id="mega-menu-item-211" aria-haspopup="true">
                                                    <a class="mega-menu-link mega-menuSpan" href="#">Categoria de Produtos:
                                                        <span class="mega-indicator" data-has-click-event="true"></span>
                                                    </a>
                                                    <ul class="mega-sub-menu menu-start">
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left mega-has-description mega-menu-item-206" id="mega-menu-item-206">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Cervejas</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left mega-has-description mega-menu-item-207" id="mega-menu-item-207">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Refrigerantes</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left mega-has-description mega-menu-item-208" id="mega-menu-item-208">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Doces</span>
                                                                    </span>
                                                                </a>
                                                            </li> 
                                                    </ul>
                                                </li>

                                            

                                                <li class="mega-menu-principal mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom 
                                                            mega-menu-item-has-children mega-menu-columns-1-of-4 mega-menu-item-211" id="mega-menu-item-211" aria-haspopup="true">
                                                    <a class="mega-menu-link mega-menuSpan" href="#">Categoria de Produtos:
                                                        <span class="mega-indicator" data-has-click-event="true"></span>
                                                    </a>
                                                    <ul class="mega-sub-menu menu-start">
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left 
                                                                        mega-has-description mega-menu-item-206" id="mega-menu-item-206">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Cervejas</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left 
                                                                        mega-has-description mega-menu-item-207" id="mega-menu-item-207">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Refrigerantes</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left mega-has-description mega-menu-item-208" id="mega-menu-item-208">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Doces</span>
                                                                    </span>
                                                                </a>
                                                            </li> 
                                                    </ul>
                                                </li>

                                                <li class="mega-menu-principal mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-columns-1-of-4 mega-menu-item-211" id="mega-menu-item-211" aria-haspopup="true">
                                                    <a class="mega-menu-link mega-menuSpan" href="#">Categoria de Produtos:
                                                        <span class="mega-indicator" data-has-click-event="true"></span>
                                                    </a>
                                                    <ul class="mega-sub-menu menu-start">
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left mega-has-description mega-menu-item-206" id="mega-menu-item-206">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Cervejas</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left mega-has-description mega-menu-item-207" id="mega-menu-item-207">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Refrigerantes</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            
                                                            <li class="mega-menuLi mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-has-icon mega-icon-left mega-has-description mega-menu-item-208" id="mega-menu-item-208">
                                                                <a class="dashicons-clock mega-menu-link" href="">
                                                                    <span class="mega-description-group">
                                                                        <span class="mega-menu-title">Doces</span>
                                                                    </span>
                                                                </a>
                                                            </li> 
                                                    </ul>
                                                </li>
                                                

                                                <li class="mega-menu-item mega-menu-item-type-widget widget_media_image mega-menu-columns-1-of-4 mega-menu-item-media_image-3" id="mega-menu-item-media_image-3">
                                                    <h4 class="mega-block-title">Produto em destaque:</h4>
                                                    <a href="https://demo.themefreesia.com/shoppingcart/product/stone-bracelet/">
                                                        <img width="180" height="180" src="https://demo.themefreesia.com/shoppingcart/wp-content/uploads/sites/47/2019/03/drink-fashion-bottle-wine-bottle-glass-bottle-liqueur-864804-pxhere.com_-e1553240578588.jpg" class="image wp-image-16  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" 
                                                        srcset="https://demo.themefreesia.com/shoppingcart/wp-content/uploads/sites/47/2019/03/drink-fashion-bottle-wine-bottle-glass-bottle-liqueur-864804-pxhere.com_-e1553240578588.jpg 180w, https://demo.themefreesia.com/shoppingcart/wp-content/uploads/sites/47/2019/03/drink-fashion-bottle-wine-bottle-glass-bottle-liqueur-864804-pxhere.com_-e1553240578588-150x150.jpg 150w, https://demo.themefreesia.com/shoppingcart/wp-content/uploads/sites/47/2019/03/drink-fashion-bottle-wine-bottle-glass-bottle-liqueur-864804-pxhere.com_-e1553240578588-75x75.jpg 75w, https://demo.themefreesia.com/shoppingcart/wp-content/uploads/sites/47/2019/03/drink-fashion-bottle-wine-bottle-glass-bottle-liqueur-864804-pxhere.com_-e1553240578588-100x100.jpg 100w" 
                                                        sizes="(max-width: 180px) 100vw, 180px">
                                                    </a>
                                                </li>
                                            </ul>


                                            <ul class="mega-sub-menuSessaoModal">
                                                <li class="mega-menuMenor-item mega-menu-item-type-post_type mega-menu-item-object-page mega-has-icon mega-icon-left mega-menu-item-204" id="mega-menuMenor-item-204">
                                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                                    <a class="dashicons-cart mega-menu-link" href="">Shop</a>
                                                </li>
                                                <li class="mega-menuMenor-item mega-menu-item-type-post_type mega-menu-item-object-page mega-has-icon mega-icon-left mega-menu-item-204" id="mega-menuMenor-item-204">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <a class="dashicons-cart mega-menu-link" href="">Carrinho</a>
                                                </li>
                                                <li class="mega-menuMenor-item mega-menu-item-type-custom mega-menu-item-object-custom mega-has-icon mega-icon-left mega-menu-item-187" id="mega-menuMenor-item-204">
                                                    <i class="fa fa-book" aria-hidden="true"></i>
                                                    <a class="dashicons-admin-customizer mega-menu-link" href="">Pedidos</a>
                                                </li>
                                                <li class="mega-menuMenor-item mega-menu-item-type-custom mega-menu-item-object-custom mega-has-icon mega-icon-left mega-menu-item-186" id="mega-menuMenor-item-204">
                                                    <i _ngcontent-ski-c59="" aria-hidden="true" class="fa fa-paper-plane-o"></i>
                                                    <a class="dashicons-phone mega-menu-link" href="">Contato</a>
                                                </li>
                                            </ul>
                                    </nav> 

                                    <div class="advertisement-banner-one" style="margin: 35px 0px 0px 108px;">
                                        <div class="ad-banner-one-wrap">
                                            <div id="media_image-2" class="ad-banner-one-img widget_media_image">
                                                <img width="1100" height="200" src="https://demo.themefreesia.com/shoppingcart/wp-content/uploads/sites/47/2019/03/person-people-girl-woman-hair-white-588481-pxhere.com_.jpg" 
                                                    class="image wp-image-68  attachment-full size-full" alt="" loading="lazy" 
                                                    style="max-width: 100%; height: auto;" sizes="(max-width: 1300px) 100vw, 1300px">
                                            </div>
                                        </div>
                                    </div>

                            </div> 

                            <div class="catalog-slider-promotion-wrap">
                                <div class="catalog-slider-promotion-inner"> 
                                    <div class="catalog-menu-box">
                                        <div class="catalog-menu-wrap">
                                        
                                            <div style="display: flex;">
                                                <button  class="hide-menu-toggle" type="button">
                                                    <b><i class="fa fa-bars" aria-hidden="true"></i></b>
                                                </button>

                                                <h3 class="catalog-menu-title aFonte2"><b>Todos Produtos</b></h3>
                                            
                                            </div>

                                        
                                            <nav class="catalog-menu" role="navigation" aria-label="Catalog Menu">
                                                <div class="catalog-menu">

                                                        <ul class="cat-nav-menu">
                                                            <li class="aFonte title-highlight menu-item menu-item-type-custom menu-item-object-custom menu-item-414">
                                                                <a id="leftMenuCerOfer" class="fonteMenuLeft" title="Hot" href=""> <b>Ofertas do dia</b></a>
                                                            </li>
                                                            <li class=" aFonte subMenuLeft title-highlight menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-48">
                                                                <a id="leftMenuCer" class="fonteMenuLeft" title="New" href="#"><b>Cervejas</b></a>
                                                                    <i class="setaRigth fa fa-caret-right" aria-hidden="true"></i>
                                                                    <ul class="sub-menu SubMenu1 mega-Submenu1-Minimodal">
                                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-159">
                                                                            <a class="fonteMenuLeft" href="#">Acóolicas</a>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-164">
                                                                                        <a class="fonteMenuLeft" href="">Golden party Purse</a>
                                                                                    </li>
                                                                                </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-160">
                                                                            <a class="fonteMenuLeft" href="#">Não Alcóolicas</a>
                                                                            <ul class="sub-menu">
                                                                                <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-162">
                                                                                    <a class="fonteMenuLeft" href="">Patek Eleven</a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
<!--                                                                                 <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-161">
                                                                            <a href="">Mobile</a>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-165">
                                                                                        <a href="">Baby Trolley</a>
                                                                                    </li>
                                                                                </ul>
                                                                        </li> -->
                                                                    </ul>
                                                            </li>
                                                            <li class=" aFonte subMenuLeft menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-49">
                                                                <a id="leftMenuCer1" class="fonteMenuLeft" href="#"><b>Refrigerantes &amp; Sucos</b></a>
                                                                <i class="setaRigth fa fa-caret-right" aria-hidden="true"></i>
                                                                    <ul class="SubMenu2 sub-menu mega-Submenu2-Minimodal">
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-166">
                                                                            <a class="fonteMenuLeft" href="">Latex Rubber Lingerie</a>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-167">
                                                                            <a class="fonteMenuLeft" href="">Raw Oak Shelf</a>
                                                                        </li>
                                                                    </ul>
                                                            </li>
                                                            <li class="aFonte subMenuLeft menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-50">
                                                                <a id="leftMenuCer2" class="fonteMenuLeft" href="#"> <b>Salgadinhos</b></a>
                                                                <i class="setaRigth fa fa-caret-right" aria-hidden="true"></i>
                                                                    <ul class="sub-menu SubMenu3 mega-Submenu3-Minimodal">
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-168">
                                                                            <a class="fonteMenuLeft" href="">Baby Trolley</a>
                                                                        </li>
                                                                    </ul>
                                                            </li>
                                                            
                                                            <li class="aFonte subMenuLeft menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-53">
                                                                <a id="leftMenuCer3" class="fonteMenuLeft" href="#"><b>Chocolates</b></a>
                                                                <i class="setaRigth fa fa-caret-right" aria-hidden="true"></i>
                                                                    <ul class="sub-menu SubMenu4 mega-Submenu4-Minimodal">
                                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-87">
                                                                            <a class="fonteMenuLeft" href="#">Bags</a>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-89">
                                                                                        <a href="">Golden party Purse</a>
                                                                                    </li>
                                                                                </ul>
                                                                        </li>
                                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-88">
                                                                            <a class="fonteMenuLeft" href="#">Dresses</a>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-90">
                                                                                        <a href="">V-neck Blouse</a>
                                                                                    </li>
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-91">
                                                                                        <a href="">Puffy Sleeves</a>
                                                                                    </li>
                                                                                </ul>
                                                                        </li>
                                                                    </ul>
                                                            </li>
                                                            <!-- <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-54">
                                                                <a href="#">Men’s Fashion</a>
                                                                    <ul class="sub-menu">
                                                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-has-children menu-item-171">
                                                                            <a href="">Patek Eleven</a>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-172">
                                                                                        <a href="">Custom Motorcycle</a>
                                                                                    </li>
                                                                                </ul>
                                                                        </li>
                                                                    </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-55">
                                                                <a href="#">Watches &amp; Accessories</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-94">
                                                                        <a href="">Uncategorized</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-56">
                                                                <a href="#">Automotive &amp; Motorbike</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-163">
                                                                        <a href="">Custom Motorcycle</a>
                                                                    </li>
                                                                </ ul> 
                                                            </li> -->
                                                        </ul>
                                                </div>
                                            </nav> 
                                        </div> 




                                    </div> 


                                <div class="div-carrosel">
                                    <ngb-carousel *ngIf="images">
                                        <ng-template ngbSlide>
                                            <div class="picsum-img-wrapper">
                                                <img [src]="images[0]" alt="Random first slide" />
                                            </div>
<!--                                             <div class="carousel-caption">
                                                <h3>First slide label</h3>
                                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                            </div> -->
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <div class="picsum-img-wrapper">
                                                <img [src]="images[1]" alt="Random second slide" />
                                            </div>

                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <div class="picsum-img-wrapper">
                                                <img [src]="images[2]" alt="Random third slide" />
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>

                                 
                                
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>




        </div>
    </div>
</header> 