
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: -webkit-fill-available;
}

.structStore{
    display: block;
}

.structStore1{
    margin: -11px 0px 0px 0px;
}

.structStore2{
    margin: 628px 0px 0px 0px;
}